html{
	font-size: 62.5%;
}

body {
	background: url("../images/karaokeapp.02.ver.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-clip: content-box;
}

@media screen and (max-width: 600px){
	#wrapper{
		width: 100%;
		margin: 2rem auto;
	}
}

@media screen and (min-width: 601px){
	#wrapper{
		width: 80%;
		margin: 2rem auto;
	}
}

@media screen and (max-width: 600px){
	#header{
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 3rem;
		margin-right: auto;
		margin-bottom: 2rem;
		margin-left: auto;
	}
}

@media screen and (min-width: 601px){
	#header{
		display: block;
		position: relative;
		width: 80%;
		height: auto;
		margin-top: 3rem;
		margin-right: auto;
		margin-bottom: 2rem;
		margin-left: auto;
	}
}

#header h1 {
    font-family: "Anton",sans-serif;
    text-align: center;
	letter-spacing: 10px;
    font-size: 5rem;
	text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px;
}

#header h1 a{
	color: rgb(245, 152, 81);
	text-decoration: none;
}

#user_panel_login{
	background: rgba(255,255,255, 0.8);
	padding: 2rem;
	width: 100%;
	border-radius: 6px;
	text-align: center;
}

#user_panel_normal{
	background: rgba(255,255,255, 0.8);
	padding: 2rem;
	width: 100%;
	border-radius: 6px;
}

@media screen and (max-width: 600px){
	#user_panel_index{
		background: rgba(255,255,255, 0.8);
		padding: 2rem;
		width: 100%;
		border-radius: 6px;
	}
}

@media screen and (min-width: 601px){
	#user_panel_index{
		background: rgba(255,255,255, 0.8);
		padding: 2rem;
		width: 40%;
		border-radius: 6px;
	}
}

#addnew p{
	background: rgba(255,255,255, 0.8);
	padding: 2rem;
}

.error {
    background: #FFF;
    padding: 1rem;
}

@media only screen
and (max-width: 700px){
	#video-player-container{
		background: #000;
		width: 100%;
		min-width: 320px;
		height: auto; 
		margin: 0 auto 0.1rem;
			-webkit-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.75);
		box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.75);
	}
}

@media only screen
and (min-width: 701px){
	#video-player-container{
		background: #000;
		width: 51.73807599029911%;
		height: auto;
		margin: 0 auto 0.1rem;
			-webkit-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.75);
		box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.75);
	}
}

#info-buttons{
	margin: 0 auto;
    display: block;
	text-align: center;
}

#info-buttons ul {
    text-align: center;
	list-style-type: none;
	display: inline-block;
}

#info-buttons ul li{
    border-radius: 6px;
    color: #fff;
	text-decoration: none;
    font-family: Helvetica,Arial,serif;
	margin: 5px;
    padding: 5px;
	cursor:pointer;
	text-shadow: 1px 1px 2px #ccc;
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5), 1px 0 1px rgba(0, 0, 0, 1);
		-moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5), 1px 0 1px rgba(0, 0, 0, 1);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5), 1px 0 1px rgba(0, 0, 0, 1);
	background: rgb(96,96,96); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiM2MDYwNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NiUiIHN0b3AtY29sb3I9IiMxZjFmMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(96,96,96,1) 10%, rgba(31,31,31,1) 56%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(96,96,96,1)), color-stop(56%,rgba(31,31,31,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 10%,rgba(31,31,31,1) 56%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(96,96,96,1) 10%,rgba(31,31,31,1) 56%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(96,96,96,1) 10%,rgba(31,31,31,1) 56%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(96,96,96,1) 10%,rgba(31,31,31,1) 56%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-8 */
		-webkit-transition: all 0.25s ease 0s;
		-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
		
}

#info-buttons ul li:hover{
    border-radius: 6px;
    color: #6ABECF;
	text-decoration: underline;
	text-shadow: 0px 0px 0px #fff;
	background: rgb(56,56,56); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzYwNjA2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(56,56,56,1) 0%, rgba(96,96,96,1) 52%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,56,56,1)), color-stop(52%,rgba(96,96,96,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(96,96,96,1) 52%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(96,96,96,1) 52%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(96,96,96,1) 52%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(56,56,56,1) 0%,rgba(96,96,96,1) 52%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#606060',GradientType=0 ); /* IE6-8 */
}

#desclist-container {
    background: rgba(255,255,255,0.8);
	margin: 0 auto;
	display: block;
	width: 60%;
	border-radius: 8px;
}

#karaokedesclist{
	list-style-type: none;
	padding: 1rem;
}

#karaokedesclist li h6 {
    font-size: 1.6rem;
    font-weight: bold;
}

#karaokedesclist li{
	display: block;
}

.strong{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

div.dataTables_length,
div.dataTables_filter label,
div.dataTables_info,
#footer-ul{
	color: #FFF;
	text-shadow: 1px 2px 1px #000, -1px -2px 1px #000;
}

div.dataTables_length,
div.dataTables_info{
	margin-left: 4rem;
}

div.dataTables_filter,
div.dataTables_paginate{
	margin-right: 4rem;
}

.owl-carousel {
    margin-bottom: 6rem;
}

#owlkaraoke {
    margin-left: -20px;
}

#owlkaraoke li {
    text-align: center;
    padding: 2rem 0 1rem;
    /*background: none repeat scroll 0% 0% #FFF;*/
	background: rgb(234,220,168); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZGNhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWRjYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(234,220,168,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 74%, rgba(234,220,168,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(234,220,168,1)), color-stop(30%,rgba(255,255,255,1)), color-stop(74%,rgba(255,255,255,1)), color-stop(100%,rgba(234,220,168,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(234,220,168,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 74%,rgba(234,220,168,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(234,220,168,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 74%,rgba(234,220,168,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(234,220,168,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 74%,rgba(234,220,168,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(234,220,168,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 74%,rgba(234,220,168,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadca8', endColorstr='#eadca8',GradientType=1 ); /* IE6-8 */
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #CCC, -1px -1px 2px #CCC;
}

#owlkaraoke li.highlightowlli {
    background: none repeat scroll 0 0 #20adc9;
    color: #ffffff;
}

#owlkaraoke li h6 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: bold;
}

#owlkaraoke li p {
    margin: 0px 0px 5px;
}

.owl-theme .owl-controls .owl-buttons div {
    opacity: 0.8;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev,
.owl-theme .owl-controls .owl-buttons div#owl-prevpage {
    border-radius: 30px 6px 6px 30px;
    left: 45px;
    position: absolute;
    text-shadow: 1px 1px 2px #000;
}

.owl-theme .owl-controls .owl-buttons div.owl-next,
.owl-theme .owl-controls .owl-buttons div#owl-nextpage {
    border-radius: 6px 30px 30px 6px;
    position: absolute;
    right: 10px;
    text-shadow: -1px 1px 2px #000;
}

thead {
    background: rgba(255,255,255,0.9);
}

#videos_datatable tbody{
    background: rgba(255,255,255,0.7);
}

#videos_datatable tbody tr td img,
#owlkaraoke li img{
	border-radius: 4px;
	box-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

#videos_datatable tbody tr td img {
    cursor: pointer;
}

.field {
    padding: 5px 0;
}

#owlkaraoke,
#footer-ul{
	list-style-type: none;
	text-align: center;
}

#footer-ul li h3{
	margin-top: 1rem;
}