/*LESS to be converted to CSS*/
@import 'karaoke.old.css';
/* START
* customise bootstrap
*/
@media only screen and (max-width: 7001px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 701px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* END
* customise bootstrap
*/
/* START
* custom bxslider styles
*/
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('../images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('../images/controls.png') no-repeat -43px -32px;
}
/* END
* custom bxslider styles
*/
/* START
* karaoke-slider-2 styles
*/
#karaoke-slider-2 {
  padding-left: 0;
}
/* END
* karaoke-slider-2 styles
*/
